/* search */
.search-container {
    margin: 20px 20px;
    padding: 20px 20px;
    border: 1px solid gainsboro;
}

.search-container_subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #a0a0a0;
}

.search-container_bar {
    margin-top: 10px;
    width: 100%;
    height: 2rem;

}

/* user details */
.userDetails-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 20px 20px;
    padding: 20px 20px;
    border: 1px solid gainsboro;
    box-sizing: content-box;
}

.userDetails-container_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.userDetails-container_profile img {
    width: 250px;
    height: 250px;
}

.userDetails-container_profile button {
    text-align: center;
    align-items: center;
    margin-top: 5px;
    padding: 10px 30px;
    color: white;

    border-radius: 15px;
    border: none;
    background-color: #4B89DC;
    width: 250px;
}

/*  */
.userDetails-container_stats {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.gitHubDetails {
    display: flex;
    align-items: center;
}

.gitHubDetails button {
    color: white;
    border: none;
    margin-right: 5px;
    border-radius: 3px;
    padding: 5px 10px;
}

.gitHubDetails #repos {
    background-color: #4B89DC;
}

.gitHubDetails #gists {
    background-color: #a0a0a0;
}

.gitHubDetails #followers {
    background-color: #81c147;
}

.gitHubDetails #following {
    background-color: #00908F;
}

.additionalDetails ul {
    list-style-type: none;
    margin-top: 10px;
}

.additionalDetails li {
    font-size: 13px;
    padding: 10px;
    border: 1px solid gainsboro;
}

/* user repos */
.userLatest-repos-container {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

.userLatest-repos-container_repo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gainsboro;
    margin-bottom: 5px;
}

.userLatest-repos-container h1 {
    padding-bottom: 10px;
}

.userLatest-repos-container_repo a {
    margin: 20px 10px;
    font-size: 1rem;
    text-decoration: none;
    color: #4B89DC;
}

.userLatest-repos-container_btn button {
    color: white;
    border: none;
    margin-right: 5px;
    border-radius: 3px;
    padding: 5px 10px;
}

.userLatest-repos-container_btn #stars {
    background-color: #4B89DC;
}

.userLatest-repos-container_btn #watchers {
    background-color: #a0a0a0;
}

.userLatest-repos-container_btn #forks {
    background-color: #81c147;
}